<main>
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h1 class="page-title">Business Cards Page</h1>
      <p class="page-description">Manage your Business Cards </p>
    </div>
    <button mat-flat-button color="primary" (click)="openAddCardModal()">New business card</button>
  </div>

  <hr>
  <div class="">
    <div class="row">
      <div class="col-md-4 col-12 col-lg-3">
        <app-card-item [cardItems]="cardItems"></app-card-item>
      </div>


    </div>
  </div>
</main>
