<main>
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h1 class="page-title">Business Cards Page</h1>
      <p class="page-description">Manage your Business Cards </p>
    </div>
    <app-card-search></app-card-search>
    <button mat-flat-button color="primary" (click)="openAddCardModal()" style="margin-left: 16px;">New business card</button>
  </div>

  <hr>

  <div class="cards">
    <div class="row">
      <div class="col-12" *ngIf="!cardsService.cards">
        <span>Business Cards are loading. Please wait </span>
      </div>
      <div class="col-12" *ngIf="cardsService.cards?.length === 0">
        <span>You haven't added any business cards yet. <a class="text-primary" (click)="openAddCardModal()">Click
            here</a> to add your first business card.</span>
      </div>
      <div class="col-md-4 col-12 col-lg-3" *ngFor="let card of cardsService.filteredCard">
        <app-card-item [cardItems]="card"></app-card-item>
      </div>


    </div>
  </div>
</main>
